// Bootstrap
// @import "../../../node_modules/bootstrap/scss/bootstrap";

// general
@import "variables";
@import "mixin";

// componets
@import "components/example";

// You'r makeup below
body{
    background-color: $primary;

    @include mobile(){
        background-color: $secondary;
    }
}

p{
    color: $secondary;
}